* {
    padding: 0;
    margin: 0;
}

.project-grid {
    display: inline-grid;

grid-auto-flow: row;
}

.p2 {
    background-color: rgb(255, 0, 119);
    font-size: large;
    width: 50px;
    height: 50px;
    margin: 10px;
}