* {
    padding: 0;
    margin: 0;
}

.main-row {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
}


.nav-element {
    background-color: rgb(255, 123, 0);
    color: hsl(208, 100%, 97%);
    width: 70%;
    height: 60px;
    margin: 20px;
    /* justify-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
    text-decoration-line: none;
    border-radius: 50px;
    text-underline-position: above;

}
.nav-element:hover {
    color: rgb(255, 123, 0);

    background-color: hsl(208, 100%, 97%);
    /* justify-content: right; */
    /* padding-left: 10px; */
    /* border-radius: 0%; */
}

.left-navbar {
    width: 25%;
    /* background-color: aqua; */
    height: 100vh;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
}

.right-screen {
    width: 71.5%;
    background-color: rgb(179, 255, 0);
    /* height: 100vh; */
    position: absolute;
    right: 0;
    padding: 20px;
    background-image: url("https://w7.pngwing.com/pngs/501/438/png-transparent-man-using-laptop-illustration-web-development-web-developer-web-design-web-development-text-computer-presentation-thumbnail.png");
    background-size: contain;
    background-repeat: no-repeat;

}